.app_loading {
  background-color: rgb(23, 23, 23);
}

.containers {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.middler {
 display: block;
 position: absolute;
 text-align: center;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.grad {
  background: #d42a44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #d42a44, #f94345);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #d42a44, #f94345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.start_button {  /* > */
  min-width: initial;
  background-color: #222222;
  margin-top: 5px;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  font-size: 38px;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 7px;
  padding-left: 18px
}

.bb{
  background-color: #444444; min-width: initial; width: 40px; height: 25px; border-radius: 20px; padding: 0px;
}

.ensinoSecundario_button {
  width: 80%;
  height: 44px;
  z-index: 12;
  background-color: #ffffff;
  color: #444444;
  text-transform: capitalize;
  border-radius: 24px;
  font-size: 16px;
  font-stretch: expanded
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.olacaroestudante_text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-style: italic;
  margin-bottom: 0px;
  /* margin-right: 60px */
}

.sobreremoveranuncios_button {
  background-color: #ffffff;
  margin-top: 5px;
  color: black;
  text-transform: lowercase;
  padding: 0px 8px 0px;
  border-radius: 12px;
}

.voltar {
  background: #ccc url('images/left_arrow_black.png') no-repeat left;
  background-size: 12px;
  color: black;
  min-width: initial;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 80px;
  height: 25px;
  border-radius: 20px;
}

.oqueprocuras_text {
  margin-top: 20px; font-family: 'Roboto', sans-serif; color: white; font-style: italic; margin-bottom: 0px; margin-left: 12px; font-size: 16px;
}

.ensinoSuperior_button {
  width: 80%; height: 44px; background-color: #ffffff; color: #444444; text-transform: capitalize; border-radius: 24px; font-size: 16px; margin-top: 10px; font-stretch: expanded;
}

.meusExames_button {
  width: 80%; height: 44px; background-color: #444444; color: white; text-transform: capitalize; border-radius: 24px; font-size: 16px; margin-top: 10px; font-stretch: expanded
}


.disabled {
  opacity: .5;
  pointer-events: none;
}

.spinner {
  margin-right: 15px;
  width: 100%;
  text-align: right;
}

.spinner > div {
  width: 7px;
  height: 7px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
